expressions.tex
test.py
plot.ipynb
CRN5.ipynb
__pycache__
CRN1_pure_production/__pycache__
CRN1_pure_production/1model
CRN1_pure_production/images
CRN2_production_degradation/__pycache__
CRN2_production_degradation/1model
CRN2_production_degradation/images
CRN3_explosive_production/__pycache__
CRN3_explosive_production/images
CRN3_explosive_production/r1
CRN4_bursting_gene/copie
CRN4_bursting_gene/images
CRN4_bursting_gene/trash
.DS_Store
donnees.md
optimisation_nn.ipynb
**/*.jpeg
**/*.pt
docs/
losses/
